body {
  background-color: #001e4d;
  color: white;
  font-family: "Roboto", sans-serf;
  text-align: center;
}
@keyframes slideIn {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
.title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #f06, #9f6, #06f);
  background-size: 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: slideIn 1s ease-in-out;
  animation: rotateAndColor 5s infinite delay;
 
}

@keyframes rotateAndColor {
  0% {
    transform: rotate(0deg);
    background-position: 0%;
  }
  100% {
    transform: rotate(360deg);
    background-position: 200%;
  }
}


.move-icon {
  height: 70px;
  background-color: transparent;

  
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
  font-size: 20px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin-right: 20px;
}




/* styles.css */
/* Style the hint modal */
#hintModal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the hint content */
.hintContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  font-size: large;
}

/* Style the close button */
.closeHint {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.closeHint:hover {
  color: #555;
}
